# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Unity_Pottery-master.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\MehmethanSargin\Desktop\Unity_Pottery-master\.idea\.idea.Unity_Pottery-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
